footer{
    background: $darker-bg;
    color: white;
    padding: 20px 15px;
    transition: all 2000ms;
    & a, & i{
        color: white;
    }
    & a:hover{
        color: $color-tertiary;
        & i{
            color: $color-primary;
        }
        & h5{
            color: $color-primary;
        }
    }
    &__link{
        display: flex;
        flex-direction: row;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}