header{
    padding-top: 20px;
    padding-bottom: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .header__arrow{                      /* link to index, only on restaurants' pages */
        position: absolute;
        left: 20px;
        align-self: center;
        & i{
            font-size: x-large;
            @include desktop{
            font-size: xx-large;
            }
            transform: scale(1);
            transition: transform 100ms ease, color 50ms 50ms ease;
            &:hover{
            transform: scale(1.15);
            color: $color-primary;
            }
        }
    }
    & img{
        width: 50%;
        max-width: 250px;
        @include desktop{
            width: 40%;
        }
    }
    @include desktop{
        z-index: 2;
    }
}