header{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    & a{
        position: absolute;
        left: 20px;
        align-self: center;
        transform: scale(1);
        transition: transform 200ms, color 150ms 50ms;
        &:hover{
            transform: scale(1.15);
            & i{color: $color-primary;}
        }
    }
    & i{
        font-size: x-large;
        @include desktop{
            font-size: xx-large;
        }
    }
    & img{
        width: 50%;
    }
}