header{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    @include desktop{
        // box-shadow:0 3px 5px darken($shadow, 20%);
    }
    .header__arrow{
        position: absolute;
        left: 20px;
        align-self: center;
        & i{
            font-size: x-large;
            @include desktop{
            font-size: xx-large;
            }
            transform: scale(1);
            transition: transform 200ms, color 150ms 50ms;
            &:hover{
            transform: scale(1.15);
            color: $color-primary;
            }
        }
    }
    & img{
        width: 50%;
    }
}