.loader{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 1500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    opacity: 1;
    animation: loader-fade 1500ms 2000ms linear both;
    &__logo{
        width: 50%;
        margin: 0 auto 66px;
        & img{
            width: 100%;
        }
        &__revealer{
            width: 100%;
            height: 100%;
            background: white;
            position: absolute;
            left: 0;
            transform: translateX(0);
            animation: loader-revealer-slide 3000ms linear both;
        }
    }
    &__spin{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    &__spin__circles{
        position: relative;
          width: 66px;
          height: 66px;
          @include desktop{
              width: 100px;
              height: 100px;
          }
          & div{
            width: 0%;
            height: 0%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            border: 3px solid $color-primary;
            animation: loader-spins 1500ms linear both infinite;
            @for $i from 1 through 5{
                &:nth-child(#{$i}){
                    animation-delay: 300ms * $i - random($limit: 200);
                }
            }
          }
        &:nth-child(2){
            & div{
                border: 3px solid $dark-tertiary;
            }
        }
        &:nth-child(3){
            & div{
                border: 3px solid $color-secondary;
            }
        }

    }
    & p{
        font-family: 'Shrikhand';
        font-size: larger;
        text-align: center;
        @include desktop{
        font-size: xx-large;
        }
        padding-top: 50px;
        opacity: 0;
        animation: loader-text-fade 800ms 500ms linear both;
    }
}

