* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #555555;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  margin: 20px 0;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 175%;
  font-weight: 500;
  margin-right: 33px;
}
@media screen and (min-width: 900px) {
  h4 {
    font-size: 250%;
  }
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
  font-weight: 200;
}

@media screen and (min-width: 900px) {
  h3 {
    font-size: x-large;
  }
}

h6 {
  width: 45px;
  font-size: large;
  font-weight: 400;
  margin-left: 3px;
  margin-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 900px) {
  h6 {
    width: auto;
    font-size: xx-large;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  p {
    font-size: large;
  }
}

ul {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
}
li i {
  width: 25px;
  font-size: small;
  padding-right: 10px;
}
@media screen and (min-width: 900px) {
  li {
    padding: 10px 20px;
  }
}

.loc-search {
  height: 50px;
  padding: 5px 0 5px 0;
  background: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px #DFDFDF inset;
}
.loc-search form #loc-search {
  margin-left: 5px;
  height: 35px;
  border: 0 hidden;
  text-align: right;
  background: #EAEAEA;
  font-size: large;
  font-weight: 500;
}

.button {
  max-width: 400px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  opacity: 1;
  border-radius: 9999px;
  color: white;
  padding: 15px 20px;
  margin: 25px 0;
  box-shadow: 5px 5px 10px #DFDFDF, -5px 5px 10px #DFDFDF;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: all 200ms ease;
}
.button:hover {
  transform: scale(1.05);
  opacity: 0.85;
  box-shadow: 5px 5px 10px #8b8b8b, -5px 5px 10px #8b8b8b;
}

.btn-number {
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  background: #9356DC;
  padding: 5px;
  position: absolute;
  left: -10px;
}

.btn-icon {
  font-size: larger;
  position: absolute;
  left: 35px;
}

.card {
  width: 95%;
  max-width: 400px;
  height: 275px;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #DFDFDF, -5px 5px 10px #DFDFDF;
  margin: 15px auto;
  position: relative;
  transform: scale(1);
  transition: all 200ms ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px #8b8b8b, -5px 5px 10px #8b8b8b;
  color: #217460;
}
@media screen and (min-width: 900px) {
  .card {
    margin: 20px 30px;
  }
}
.card__new-flag {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #217460;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 3px;
}
.card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__body {
  width: fit-content;
  margin: 10px 15px;
}
.card__body p {
  font-size: larger;
  padding-top: 5px;
}
@media screen and (min-width: 900px) {
  .card__body p {
    font-size: x-large;
  }
}
.card .heart-icon {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.heart-icon i {
  font-size: x-large;
}
@media screen and (min-width: 900px) {
  .heart-icon i {
    font-size: xx-large;
  }
}
.heart-icon i:hover {
  color: #9356DC;
  cursor: pointer;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
header a {
  position: absolute;
  left: 20px;
  align-self: center;
  transform: scale(1);
  transition: transform 200ms, color 150ms 50ms;
}
header a:hover {
  transform: scale(1.15);
}
header a:hover i {
  color: #9356DC;
}
header i {
  font-size: x-large;
}
@media screen and (min-width: 900px) {
  header i {
    font-size: xx-large;
  }
}
header img {
  width: 50%;
}

footer {
  background: #333333;
  color: white;
  padding: 20px 15px;
  transition: all 2000ms;
}
footer a, footer i {
  color: white;
}
footer a:hover {
  color: #99E2D0;
}
footer a:hover i {
  color: #9356DC;
}
footer a:hover h5 {
  color: #9356DC;
}
footer__link {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.presentation {
  background: #f6f6f6;
  padding: 20px 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .presentation h1 {
    align-self: center;
    font-size: xx-large;
  }
}

.usage {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .usage h2 {
    align-self: center;
    font-size: xx-large;
  }
}
.usage__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.usage__buttons .button {
  width: 100%;
  border-radius: 15px;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background: #f6f6f6;
  color: black;
}
.usage__buttons .button p {
  font-size: large;
  font-weight: 700;
  position: absolute;
  left: 70px;
}
.usage__buttons .button:hover {
  cursor: default;
  background: #f2eafb;
}
.usage__buttons .button:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin: 40px 8px 10px;
}
@media screen and (min-width: 900px) {
  .restaurants h2 {
    align-self: center;
    font-size: xx-large;
  }
}
.restaurants__block {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .restaurants__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.menu {
  background: #f6f6f6;
}
@media screen and (min-width: 900px) {
  .menu {
    position: relative;
  }
}
.menu__image {
  width: 100%;
  display: block;
}
.menu__arrow {
  width: 100%;
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 400%;
  display: none;
}
.menu__arrow i {
  color: #217460;
}
.menu__arrow i:hover {
  color: #99E2D0;
}
@media screen and (min-width: 900px) {
  .menu__arrow {
    display: block;
  }
}
.menu__body {
  background: #f6f6f6;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .menu__body {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
    margin: 0;
  }
}
.menu__body__title {
  background: #f6f6f6;
  padding: 30px 20px 0px;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -45px 0 25px;
}
@media screen and (min-width: 900px) {
  .menu__body__title {
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    margin: -1px 0 0;
    border-radius: 0 0 40px 40px;
  }
}
.menu__body__dishes {
  display: flex;
  flex-direction: column;
  margin: 0 10px 30px;
}
@media screen and (min-width: 900px) {
  .menu__body__dishes {
    margin-right: 45px;
  }
}
.menu__body__dishes .button {
  margin: 10px 0;
  width: 100%;
  border-radius: 15px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  background: white;
  color: black;
}
.menu__body__dishes .button:hover {
  background: #ece1f9;
}
.menu__body__dishes .button h3 {
  width: 100%;
  padding: 0px 10px 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 900px) {
  .menu__body__dishes .button h3 {
    font-size: x-large;
  }
}
.menu__body__dishes .button .button__subprice {
  padding: 0px 15px 2px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__body__dishes .button .button__subprice p:first-child {
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__body > .button {
  width: 100%;
  max-width: 180px;
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .menu__body > .button {
    position: absolute;
    bottom: 0;
  }
}
