.btn-number{
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: $color-primary;
    padding: 5px;
    position: absolute;
    left: -10px;
}