.button{
    max-width: 400px;
    background: $btn-bg;
    border-radius: 9999px;
    color: white;
    padding: 15px 20px;
    margin: 25px 0;
    @include btn-shadow;
    position: relative;
    &:hover{
        cursor: pointer;
        background: $color-secondary;
        @include btn-shadow(darken($shadow, 33%));
    }
}