.heart-icon{
    & i{
        font-size: x-large;
        @include desktop{
            font-size: xx-large;
        }
        &:hover{
            color: $color-primary;
            cursor: pointer;
        }
    }
}