.heart-icon{
    width: 24px;
    height: 24px;
    position: relative;
    @include desktop{
        width: 48px;
        height: 48px;
    }
    & .fa-regular{
        position: absolute;
        top: 0;
        font-size: x-large;
        @include desktop{
            font-size: xx-large;
        }
    }
    & .fa-solid{
        position: absolute;
        top: 1;
        font-size: x-large;
        @include desktop{
            font-size: xx-large;
        }
    }
    & .fa-solid{
        opacity: 1;
        background: $btn-gradient;
        z-index: 5;
        -webkit-background-clip:  text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: bottom;
        transform: scale(1,0) rotateY(90deg);
      }
    & .fa-regular{
        z-index: 1;
        background: $light-bg;
        -webkit-background-clip:  text;
        background-clip: text;
    }
    &:hover{
        cursor: pointer;
        & .fa-solid{
            animation: heart-fill 400ms 0ms ease-in-out both;
        }
    }
}