*{
    font-family: 'Roboto', sans-serif;
    // font-family: 'Shrikhand', cursive;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}
body{
    margin: 0;
}
h1{
    font-size: xx-large;
    margin: 20px 0;
}