/* bacis rules for main elements, for use on the whole site */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body{
    background: $darker-bg;
}
a{
    text-decoration: none;
    color: black;
}
i{
    color: $icon_color;
}
h1{
    font-size: x-large;
    font-weight: 700;
    margin: 20px 0;
}
h4{
    font-family: 'Shrikhand', cursive;
    font-size: 175%;
    font-weight: 500;
    margin-right: 33px;
    @include desktop{
        font-size: 250%;
    }
}
h5{
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
    font-weight: 200;
}
h3{
    @include desktop{
        font-size: x-large;
    }
}
h6{
    width: 45px;
    font-size: large;
    font-weight: 400;
    margin-left: 3px;
    margin-bottom: 10px;
    border-bottom: 3px solid $color-tertiary;
    @include desktop{
        width: auto;
        font-size: xx-large;
        margin: auto;
    }
}
p{
    @include desktop{
        font-size: large;
    }
}
ul{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    @include desktop{
        flex-direction: row;
        justify-content: space-between;
    }
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    & i{
        width: 25px;
        font-size: small;
        padding-right: 10px;
    }
    @include desktop{
        padding: 10px 20px;
    }
}