.menu{
    @include desktop{
        position: relative;
    }
    background: $light-bg;
    &__image{
        width: 100%;
        display: block;
    }
    &__arrow{
        width: 100%;
        position: absolute;
        top: 100px;
        text-align: center;
        font-size: 400%;
        & i{
            color: $dark-tertiary;
            @include text-shadow;
            transform: scale(1);
            transition: all 200ms, color 150ms 50ms;
            &:hover{
                transform: scale(1.10);
                color: $color-tertiary;
                @include text-shadow(darken($text-shadow, 10%));
            }
        }
        display: none;
        @include desktop{
            display: block;
        }
    }
    &__body{
        background: $light-bg;
        margin: 0 0 30px;
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 80px;
            margin: 0;
        }
    }
    &__body__title{
        background: $light-bg;
        padding: 30px 20px 0px;
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: -45px 0 25px;
        @include desktop{
            background: white;
            position: absolute;
            top: 0;
            width: 100%;
            margin: -1px 0 0;
            border-radius: 0 0 40px 40px;
        }
    }
    &__body__dishes{
        display: flex;
        flex-direction: column;
        margin: 0 10px 30px;
        @include desktop{
            margin-right: 45px;
        }
    }
    &__body__dishes .button{
        margin: 10px 0;
        width: 100%;
        border-radius: 15px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        background: white;
        color: black;
        &:hover{
            background: lighten($color-primary, 33%);
        }
    }
    &__body__dishes .button h3{
        width: 100%;
        padding: 0px 10px 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include desktop{
            font-size: x-large;
        }
    }
    &__body__dishes .button .button__subprice{
        padding: 0px 15px 2px 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__body__dishes .button .button__subprice p:first-child{
            margin-right: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    }
    &__body > .button{
        width: 100%;
        max-width: 180px;
        align-self: center;
        text-align: center;
        @include desktop{
            position: absolute;
            bottom: 0;
        }
    }
}