// colors
$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

$shadow: #CCCCCC;
$loc-search-bg: #EAEAEA;
$light-bg: #FAFAFA;

$btn-bg: $color-primary;

$icon_color: #555555;