// colors
$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

$shadow: #DFDFDF;
$dark-bg: #EAEAEA;
$darker-bg: #333333;
$light-bg: #f6f6f6;

$btn-bg: $color-primary;
$btn-gradient: linear-gradient(to top left, $color-primary, $color-secondary);

$icon_color: #555555;
$dark-tertiary: darken($color-tertiary, 45%);